In [1]:
import pandas as pd
import numpy as np
from lets_plot import *
LetsPlot.setup_html()

In [2]:
df = pd.DataFrame({
  'x': [1, 2, 3, 4, 5],
  'y': 1}
)
df

   x  y
0  1  1
1  2  1
2  3  1
3  4  1
4  5  1

In [4]:
df = pd.DataFrame({
  'x': [1, 2, 3, 4, 5],
  'y': [9, 8, 7, 6, 4]}
)
df

   x  y
0  1  9
1  2  8
2  3  7
3  4  6
4  5  4

In [7]:
df = pd.DataFrame({
  'x': [1, 2, 3, 4, 5],
  'y': [9, 4, 7, 6, 5],
  'z': [1, 2, 3, 4, 5]}
)
df
df.to_csv('temp.csv')

In [ ]:
# Lets - plot example